@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
/* Gray / 100 */

.gray-100 {
  border: 1px solid #f2f5f9;

  box-shadow: 0px 2px 12px rgba(17, 24, 39, 0.08);
  border-radius: 8px;
}

.borders  {
  border: 1px solid #f1eefd;
}
/* Gray/200 */

.gray-200 {
  /* Gray/200 */

  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #eaecf0;
  border-radius: 0px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.padding {
  padding: 32px 32px 0px;
}